<body>
    <app-navbar></app-navbar>
    <div id="navdiv"></div>
    <div class="row" id="registerblock">
        <div class="col">
            <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
                <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 5px;">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Create an Account!</h4>
                        </div>
                        <form [formGroup]="registerForm" class="user">
                            <div class="mb-3"><input class="form-control form-control-user" type="text" placeholder="Username" required="" formControlName="user"></div>
                            <div class="mb-3"><input class="form-control form-control-user" type="email" id="email" placeholder="Email Address" required="" formControlName="email"></div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="password" placeholder="Password" required="" formControlName="password"></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="verifyPassword" placeholder="Repeat Password" required="" formControlName="password2"></div>
                            </div>
                            <div class="row mb-3">
                                <p id="emailErrorMsg" class="text-danger" style="display:none;">Paragraph</p>
                                <p id="passwordErrorMsg" class="text-danger" style="display:none;">Paragraph</p>
                            </div>
							<div class="mb-3"><input type="checkbox" value="true" formControlName="admin" name="admin"> Admin access</div>
							<button class="btn btn-primary d-block btn-user w-100" id="submitBtn" type="submit" (click)="submit()">Register Account</button>
                            <hr>
                        </form>
                        <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                        <div class="text-center"><a class="small" href="login.html">Already have an account? Login!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

