<body>
  <app-navbar></app-navbar>
<section class="py-5 text-center container">
    <div class="row">
        <div class="col-lg-3 col-md-8 mx-auto">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input type="title" class="form-control" id="title" placeholder="Title">
                </form>
            </div>
        </div>

</div>
<div class="mb-5">
  <textarea class="form-control me-2" id="writePoem" placeholder="Write Poem " style="height: 500px"></textarea>
</div>
<div><button type="button" class="btn btn-primary">Post</button>
</div>

</section>
</body>
