body {
    background-image: url('https://cdn.euroinnova.edu.es/img/subidasEditor/dise%C3%B1o%20sin%20t%C3%ADtulo%20(65)-1634640085.webp');
    background-size:cover; 
    background-position: center;
}