<body>
    <div class = "center_scroll">
    <app-navbar></app-navbar>
    <div></div>
    <div class="container" id="subbanner">
        <div class="row">
            <div class="col-md-2 col-lg-2"><img class="rounded-circle" style="margin-top:10px;" src="assets/img/avatar-dhg.png" height="150px"></div>
            <div class="col" style="text-align: left;transform: perspective(0px);padding-top: 60px;">
                <h1><span style="color: rgb(255, 255, 255);">Nickname</span></h1>
            </div>
        </div>
        <div></div>
        <div class="row" id="divisor">
            <div class="col">
                <h1><span style="color: rgb(255, 255, 255);">&nbsp;My Poems</span></h1>
            </div>
        </div>
        <div class="row">
            <div class = "recuadro_poems">
            <div *ngFor=" let poem of arrayPoems" class="col-md-12 col-lg-12 offset-lg-0" id="poemsocket">
                <div class="row" id="poemsocket-row">
                    <div class="col">
                        <h1><span style="color: rgb(255, 255, 255);">{{poem.title}}</span><br></h1>
                    </div>
                    <div class="col-lg-7"></div>
                    <div class="col" id="buttons"><button class="btn btn-primary" id="button-view" type="button"><i class="fas fa-eye"></i></button><button class="btn btn-primary" id="button-edit" type="button"><i class="fas fa-pencil-alt"></i></button><button class="btn btn-primary" id="button-delete" type="button"><i class="fas fa-trash-alt"></i></button></div>
                </div>
            </div>
            <div class="mt-3 mb-3"><app-pages></app-pages></div>
        </div>
    </div>
    </div>
    <div>
        
    </div>
</div>
</body>

