<body>
    <div class = "center_scroll">
    <app-navbar></app-navbar>
    <div></div>
    <div class="container" id="subbanner">
        <div class="row">
            <div class="col-md-2 col-lg-2"><img class="rounded-circle" style="margin-top:10px;" src="assets/img/avatar-dhg.png" height="150px"></div>
            <div class="col" style="text-align: left;transform: perspective(0px);padding-top: 60px;">
                <h1 class="text-responsive"><span style="color: rgb(0, 0, 0);">@{{user}}</span></h1>
            </div>
        </div>
        <div></div>
        <div class="row" id="divisor">
            <div class="col">
                <h1 class="text-responsive"><span style="color: rgb(0, 0, 0);">&nbsp;My Poems</span></h1>
            </div>
        </div>
        <div class="row">
            <div class = "recuadro_poems">
            <div *ngFor=" let poem of arrayPoems" class="col-md-12 col-lg-12 offset-lg-0" id="poemsocket">
                <div class="row" id="poemsocket-row">
                    <div class="col">
                        <h1><span style="color: rgb(255, 255, 255);">{{poem.title}}</span><br></h1>
                    </div>
                    <div class="col-lg-7"></div>
                    <div class="col" id="buttons">
                        <a a [routerLink]="['/poem', poem.user.user, poem.id]">
                            <button class="btn btn-primary" id="button-view" type="button"><i class="fas fa-eye"></i></button>
                        </a>
                        <button class="btn btn-primary" id="button-edit" (click)="getPoem(poem.id)" type="button" data-bs-toggle="modal" data-bs-target="#editPoem" data-bs-whatever="@getbootstrap"><i class="fas fa-pencil-alt"></i></button>
                        <div class="modal fade" id="editPoem" tabindex="-1" aria-labelledby="editPoemLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form [formGroup]="editForm">
                                    <div class="mb-3">
                                      <label for="recipient-name" class="col-form-label">Titulo:</label>
                                      <input type="text" class="form-control" id="recipient-name" value = {{title}} formControlName="title">
                                    </div>
                                    <div class="mb-3">
                                      <label for="message-text" class="col-form-label">Poema:</label>
                                      <textarea class="form-control" id="message-text" value="{{content}}" formControlName="content" style="height: 16rem;"></textarea>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" (click)="submitEdit(poem.id)">Editar Poema</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        <button class="btn btn-primary" id="button-delete" type="button" (click)="deletePoem(poem.id)"><i class="fas fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
            <div class="mt-3 mb-3"><app-pages (messageEvent)="receiveMessagePage($event)" [childMessage]="paginacion"></app-pages></div>
        </div>
    </div>
    </div>
    <div>
        
    </div>
</div>
</body>

