body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/img/reading.jpg");
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
.center_scroll{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.recuadro_poems {
	height: 33rem;
	overflow-y: scroll;
}

  .navbar {
    background-color: rgba(13,104,240,0.5);
  }
  
  #backcolor {
    background-color: rgba(255,255,255,0.86);
    margin-top: 20px;
  }
  