body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../assets/img/reading.jpg");
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
.center_scroll{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.recuadro_poems {
	height: 33rem;
	overflow-y: scroll;
  overflow-x: hidden;
}

  .navbar {
    background-color: rgba(13,104,240,0.5);
  }
  
  #backcolor {
    background-color: rgba(255,255,255,0.86);
    margin-top: 20px;
  }
  
  #delete {
    border-color: gray;
    margin-left: 5px;
    background-color: var(--bs-gray);
  }
  #delete:hover {
    margin-left: 5px;
    border-color: black;
    background-color: var(--bs-red);
  }

  #star{
    color: rgba(0, 0, 0, 0.5 );
  }
  #star:hover ,
  #star:hover ~ #star {
    color: rgb(214, 136, 18);
  }

  .clasificacion{
    text-align: left;
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}


  input[type = "radio"] {
   display:none;
  }

  input[type = "radio"]:checked ~ #star{
    color: rgb(214, 136, 18);
  } 