<body style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1558210834-473f430c09ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-size:cover; background-position: center;">
    
    <app-navbar></app-navbar>
    <app-searchbar></app-searchbar>

<div class="row">.
<div class="col-2"></div>
<div class="col-sm-8 mb-3">
<a routerLink="newpoem">
<button class="btn btn-secondary" type="button" style="background-color: rgba(0,135,255,0.7);">
  <i class="fa-sharp fa-solid fa-plus"></i>
</button>
</a>
<button type="button" class="btn btn-secondary" style="background-color: rgba(0,135,255,0.7);">Newer</button>
<button type="button" class="btn btn-secondary" style="background-color: rgba(0,135,255,0.7);">Oldest</button>
<button type="button" class="btn btn-secondary" style="background-color: rgba(0,135,255,0.7);">Autor</button>
<button type="button" class="btn btn-secondary" style="background-color: rgba(0,135,255,0.7);">Top</button>
</div>
<div class="col-2"></div>
</div>
<div class="row">

<div *ngFor=" let poem of arrayPoems">
    <div class="row">
    <div class="col-2"></div>
    <div class="col-sm-8 mb-3">
        <div class="card" style="height: 10rem; background-color: rgba(255,255,255,0.7);">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
            <h5 class="card-title">{{poem.titulo}}</h5>
            <p class="card-text">Poet: {{poem.autor}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <button class="btn btn-default btn-xs">
                    <img src="assets/img/eye.png" width="60" /><p>Read</p>
            </button>
                </div>
                <small class="text-muted">Date: 18/09/2022</small>
                <small class="text-muted">
                    <div class="rating">
                        <i class="fa-solid fa-star" style="color: rgb(214, 136, 18)"></i>
                        <i class="fa-solid fa-star" style="color: rgb(214, 136, 18)"></i>
                        <i class="fa-solid fa-star" style="color: rgb(214, 136, 18)"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </small>
            </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
    </div>
</div>
<app-pages></app-pages>

</div>
</body>