<body>
  <div class = "center_scroll">
    <app-navbar></app-navbar>
    <div></div>
    <div class="container" id="contbody" style="border-radius: 20px;border-top-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
        <div id="contdiv"></div><div class="container bootstrap snippets bootdey">
    <h1 style="color: rgb(255, 255, 255);">Edit Profile</h1>
      <hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
      </div>
      
      <!-- edit form column -->
        <!-- Esto es eliminable -->
      <div class="col-md-9 personal-info">
        <h3 style="color: rgb(255, 255, 255);">Personal info</h3>
          <!-- fin de lo eliminable -->
        
        <form [formGroup]="editForm" class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-lg-8">
              <label for="recipient-name" class="col-form-label" style="color: rgb(255, 255, 255)">User:</label>
              <input type="text" class="form-control" placeholder="{{this.user}}" id="recipient-name" value = {{this.user}} formControlName="user">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8">
              <label for="recipient-name" class="col-form-label" style="color: rgb(255, 255, 255)">E-mail:</label>
              <input type="text" class="form-control" placeholder="{{this.email}}" id="recipient-name" value = {{this.email}} formControlName="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8">
              <label for="recipient-name" class="col-form-label" style="color: rgb(255, 255, 255)">Password:</label>
              <input type="password" class="form-control" id="recipient-name" formControlName="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8">
              <label for="recipient-name" class="col-form-label" style="color: rgb(255, 255, 255)">Repeat password:</label>
              <input type="password" class="form-control" id="recipient-name" formControlName="password2">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>

        <div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-4 col-lg-1"><button class="btn btn-primary" id="submit" type="button" (click)="submitEdit(user_id)">Submit</button>
                    <div id="final"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>