<body id="page-top">
    <div class = "center_scroll">
        <app-navbar></app-navbar>
    
    <div class="container-fluid">
        <h3 class="text-dark mb-4" id="heading"><span style="color: rgb(255, 255, 255);">Admin users panel</span></h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold"></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <button id="newuser" type="button" routerLink="/singup" class="btn btn-secondary">Create new User</button>
                    </div>
                    <div class="col-md-6 mt-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                    </div>
                    <div class="col-md-6">
                        <app-searchbar (messageEvent)="receiveMessageSearch($event)"></app-searchbar>
                    </div>
                </div>
                <div class = "recuadro_users">
                    <div class="table-responsive table mt-1" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>email</th>
                                    <th>poems</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let usr of arrayUsuarios">
    
                                    <td>{{usr.user}}</td>
                                    <td>{{usr.email}}</td>
                                    <td>{{usr.poem_count}}</td>
                                    <td><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#editUserModal" data-bs-whatever="@getbootstrap" (click) = "getUser(usr.id)"><i class="fas fa-pencil-alt"></i></button>
                                        <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                  <form [formGroup]="editUserForm">
                                                    <div class="mb-3">
                                                      <label for="recipient-name" class="col-form-label">User:</label>
                                                      <input type="text" class="form-control" id="recipient-name" value="{{user}}" formControlName="user">
                                                    </div>
                                                    <div class="mb-3">
                                                      <label for="message-text" class="col-form-label">Email:</label>
                                                      <input type="text" class="form-control" id="recipient-name" value="{{email}}" formControlName="email">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="message-text" class="col-form-label">Password:</label>
                                                        <input type="password" class="form-control" id="recipient-name" formControlName="password">
                                                      </div>
                                                      <div class="mb-3">
                                                        <label for="message-text" class="col-form-label">Confirm Password:</label>
                                                        <input type="password" class="form-control" id="recipient-name" formControlName="password2">
                                                      </div>
                                                      <div class="mb-3">
                                                        <label for="form-check-input" class="col-form-label">Admin Access:</label>
                                                        <div *ngIf="admin == 'True'">
                                                            <input  class="form-check-input" type="checkbox" [checked]="admin" value="true" id="flexCheckChecked" formControlName="admin" name="admin">
                                                        </div>
                                                        <div *ngIf="admin == 'False'">
                                                            <input class="form-check-input" type="checkbox" [checked]="admin" value="true" id="flexCheckChecked" formControlName="admin" name="admin">
                                                            No eres admin
                                                        </div>
                                                        
                                                      </div>
                                                      
                                                  </form>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                  <button type="button" class="btn btn-primary" (click)="submitEditUser(user_id)">Edit user</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        <button class="btn btn-primary" (click)="deleteUser(usr.id)" id="delete" type="button">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite"></p>
                    </div>
                    <div class="col-md-6">
                       
                    </div>
                </div>
                
            </div>
            
            
        </div>
        
    </div>
    <div class="mt-3"></div>
    <app-pages (messageEvent)="receiveMessagePage($event)" [childMessage]="paginacion"></app-pages>
    </div>
</body>
