.navbar {
    background-color: rgba(1,15,51,0.5);
  }
  
body {
    background: url("../../../assets/img/pexels-instawalli-176851.jpg");
    background-size:cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .center_scroll{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
  .recuadro_users {
    height: 33rem;
    overflow-y: auto;
    overflow-x: auto;
  }
  #delete {
    margin-left: 5px;
    background-color: var(--bs-red);
  }
  
  #heading {
    padding-top: 10px;
  }

  #newuser {
    background-color: rgba(0,135,255,0.7);
    border-color: black;
  }

  #newuser:hover {
    border-color: black;
    background-color: var(--bs-green);
  }