.navbar {
  background-color: rgba(1,15,51,0.5);
}

#back {
  background: url("../../assets/img/pexels-instawalli-176851.jpg");
}

#delete {
  margin-left: 5px;
  background-color: var(--bs-red);
}

#heading {
  padding-top: 10px;
}

